*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    transition: all 0.2s linear;
}
.container-login{
    min-height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(./fond.jpg) no-repeat;
    backdrop-filter: blur(10px);
    perspective: 1000px;
}
.container-login form{
    height: 350px;
    width: 350px;
    background: rgba(255, 255, 255, .1);
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
    border-top: 1px solid rgba(255, 255, 255, .3);
    border-left: 1px solid rgba(255, 255, 255, .3);
    backdrop-filter: blur(20px);
    transform-style: preserve-3d;
}
.container-login form h3{
    font-size: 30px;
    padding: 30px 0;
    color: #fff;
    letter-spacing: 3px;
}
.container-login form i{
    padding: 0 5px;
    font-size: 20px;
    color: #fff;
}
.container-login form input{
    outline: none;
    border: none;
    height: 40px;
    width: 80%;
    background: rgba(0, 0, 0, .1);
    color: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .5) inset;
    font-size: 17px;
    padding: 0 10px;
    margin: 15px 0;
    letter-spacing: 1px;
}
.container-login form button{
    font-size: 20px;
    color: #fff;
    width: 90%;
    height: 40px;
    cursor: pointer;
    background: linear-gradient(90deg, deeppink, blueviolet);
    margin-top: 30px;
    border: none;
    border-radius: 50px;
}
.container-login form button:hover{
    letter-spacing: 3px;
    width: 93%;
    height: 45px;
}