*{
    background-color: #000;
}
.resultado{
    width: 50%;
    height: 25%;
    position: relative;
    justify-content: center;
    align-items: center;
    display: block;
    margin: auto;
    margin-top: 15%;
}
.resultado video{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
}
.titulo{
    width: 100%;
    height: 100%;
    background-color: #000;
    font-size: 100px;
    color: #fff;
    mix-blend-mode: multiply;
    text-align: center;
    text-transform:uppercase ;
}