body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    background-color: #1a1b26;
    display: grid;
    place-content: center;
    color: white;
}

.title {
    color: #fff;
    text-transform: uppercase;
    line-height: 40px;
    font-weight: 300;
}

.title-content {
    display: block;
    opacity: 0;
    animation: revealText .5s forwards;
}

.title-second {
    animation-delay: .175s;
}

.title-third {
    animation-delay: .25s;
}

.title-fourth {
    animation-delay: .325s;
}

@keyframes revealText {
    from {
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: none;
    }
}

/* efecto de hover en texto */
.text {
    color: #fff;
    background-image: linear-gradient(transparent 0%, transparent 90%, hotpink 90%, hotpink 100%);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 300ms;
}

/* Se utiliza para cambiar el color de la seleccion del texto */
.seleccion::selection {
    background-color: hotpink;
}

.text:hover {
    background-size: 100% 100%;
    background-position-x: left;
}

.text_delineado {
    text-decoration: underline;
}

.text_delineado2 {
    text-decoration: underline wavy hotpink;
}

.text_delineado3 {
    text-decoration: overline dotted palegreen;
}

.text_delineado4 {
    text-decoration: line-through #ff0000aa 7px;
}

.text_delineado5 {
    text-decoration: underline dashed;
}

.text_delineado6 {
    text-decoration: underline double orange;
}

/* efecto de animación al hacer efecto hover en un link (a) */
.link {
    transform: translateX(-0.75em);
    transition: transform 200ms;
    text-decoration: none;
    font-size: 100px;
    color: white;
}

.link::before {
    content: '#';
    display: inline-block;
    width: 0.75em;
    color: #888888;
    opacity: 0;
    transition: opacity 200ms;
}

.link:hover {
    transform: none;
}

.link:hover::before {
    opacity: 1;
}

.link2 {
    background-image: linear-gradient(#ff2f97, #ff2f97);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    background-position-x: right;
    transition: background-size 500ms;
    text-decoration: none;
    font-size: 100px;
    color: white;
}

.link2:hover {
    background-size: 100% 100%;
    background-position-x: left;
}