:root{
    --dark: #1a1a1a;
    --light: #ffffff;
}

html, body{
    background-color: var(--dark);
    /* height: 100%;
    min-height: 100%; */
    margin: 0;
    color: var(--light);
}

section{
    height: 100%;
    display: flex;
}
.loader-animation{
    display: flex;
    justify-content: center;
    align-self: center;
    margin: 0 auto;
}

.loader-animation > div {
    width: 1.5rem;
    height: 1.5rem;
    margin: 3rem .5rem;
    border-radius: 50%;
    background-color: var(--light);
    animation: loader-animation .8s infinite;
}

@keyframes loader-animation{
    to{
        opacity: .1;
        transform: translate3d(0, -1rem, 0);
    }
}

.loader-animation > div:nth-child(2){
    animation-delay: .2s;
}
.loader-animation > div:nth-child(3){
    animation-delay: .4s;
}

/* Aqui va lo del relog */

.wrap{
    display: flex;
    width: 70%;
    max-width: 100%;
    margin-left: 30%;
}
.widget{
    width: 40%;
    margin: 2em;
}
.widget p{
    display: inline-block;
    line-height: 1em;
}
.fecha{
    font-family: Oswald,Arial;
    text-align: center;
    font-size: 1.5em;
    margin-bottom: 0.3125rem;
    background: rgba(0, 0, 0, .5);
    padding: 20px;
    width: 100%;
}
.relog{
    font-family: Oswald,Arial;
    width: 100%;
    padding: 20px;
    font-size: 2em;
    text-align: center;
    background: rgba(0, 0, 0, .5);
}
.relog .caja-segundos{
    display: inline-block;
}
.relog .segundos{
    font-size: 1.3rem;
    display: block;
}
.relog .ampm{
    font-size: 1.3rem;
    display: block;
    margin-top: -10px;
}
