*,*:after, *:before{
    margin : 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container_carga{
    background-color: rgba(168, 213, 241, 0.9);
    height: 100%;
    width: 100%;
    position: fixed;
    -webkit-transition: all 1s ease;
    -o-transition:all 1s ease;
    transition: all 1s ease;
    z-index: 10000;
}

.carga{
    border: 15px solid #ccc;
    border-top-color: #35e049;
    /* border-top-style: groove; */
    height: 100px;
    width: 100px;
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-animation: girar 1.5s linear infinite;
    -o-animation: girar 1.5s linear infinite;
    animation: girar 1.5s linear infinite;
}

@keyframes girar{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}