* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #151515;
    height: 100vh;
    display: grid;
    place-content: center;
    font-family: sans-serif;
}

.icons-wrapper {
    position: relative;
}

.icons-wrapper::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 5px;
    background-color: rgb(37, 37, 37);
    border-radius: 10px;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
}

.icon {
    display: inline-block;
    font-size: 44px;
    animation: float 1s ease-in-out infinite;
    font-size: 100px;
}

.ri-instagram-line {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.ri-facebook-circle-line {
    color: #1877f2;
    animation-delay: .3s;
}

.ri-whatsapp-line {
    color: #25d366;
    animation-delay: .7s
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-15px);
    }

    100% {
        transform: translateY(0);
    }
}

/* iconos NEON */

.icon2 {
    font-size: 100px;
    color: #fff;
    animation: first_color .5s ease-in-out infinite alternate;
    /*Since the icons share similar animation properties we will just add it here then change the animation name.*/
}

/*Adding the different animation names for the different color effects.*/
.icon2:nth-child(2) {
    animation-name: second_color;
}

.icon2:nth-child(3) {
    animation-name: third_color;
}

/*To achieve this neon effect we will layer 3 shadows each one with an increment of 10 for the blur. */
/* At the first stop the glow will be larger than the last stop. This way we create a growing effect as it cycles thru. */
@keyframes first_color {
    0% {
        text-shadow: 0 0 10px #ff1177,
            0 0 20px #d6249f, 0 0 30px #285AEB
    }

    100% {
        text-shadow: 0 0 5px #ff1177,
            0 0 10px #d6249f, 0 0 15px #285AEB
    }
}

@keyframes second_color {
    0% {
        text-shadow: 0 0 10px #1877f2,
            0 0 20px #1459b3, 0 0 30px #179bff
    }

    100% {
        text-shadow: 0 0 5px #1877f2,
            0 0 10px #1459b3, 0 0 15px #179bff
    }
}

@keyframes third_color {
    0% {
        text-shadow: 0 0 10px #25d366,
            0 0 20px #48ee85, 0 0 30px #0ec0a5
    }

    100% {
        text-shadow: 0 0 5px #25d366,
            0 0 10px #48ee85, 0 0 15px #0ec0a5
    }
}